astroid==2.3.3
atomicwrites==1.1.5
attrs==18.1.0
carte-blanche-utils==1.0.1
coloredlogs==10.0
entrypoints==0.3
flake8==3.7.9
humanfriendly==4.16.1
isort==4.3.21
jsonschema==2.6.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==4.3.0
pluggy==0.7.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
py==1.5.4
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
pytest==3.7.2
redis==3.4.1
six==1.14.0
SQLAlchemy==1.3.15
wrapt==1.11.2
